<%= form_for(@content) do |f| %>

  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>
      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :name, 'Add your site header' %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :content, 'Add in your page content here' %>
    <%= f.text_area :content %>
  </fieldset>
  <fieldset>
    <%= f.label :secondary_content, 'Add in secondary (sidebar or other) content here' %>
    <%= f.text_area :secondary_content %>
  </fieldset>
  <fieldset class="m">
    <h2>Choose your layout:</h2>
    <%
    i = 0
    [ 'Single Column', 'Two Column' ].each_with_index do |theme,i| %>
      <label class="i" for="<%= theme.parameterize %>">
        <input id="<%= theme.parameterize %>" name="theme" type="radio" value="<%= i %>" />
        <img src="/assets/<%= theme.parameterize %>.svg" /> 
        <span><%= theme.humanize %></span>
      </label>
    <%
    i+=1
    end %>
    <%= f.text_field :layout_type, :class => 'hide' %>
  </fieldset>

  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
