<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>
      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :name, 'Add your site header' %>
    <%= f.text_field :name %>
  </fieldset>
  <!--<fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </fieldset>-->
  <fieldset>
    <%= f.label :content, 'Add in your page content here' %>
    <%= f.text_area :content %>
  </fieldset>
  <fieldset class="m">
    <%#= f.label :layout %>
    <h2>Choose your layout:</h2>
    <% [ 'Single Column', 'Two Column' ].each do |theme| %>
      <label class="i" for="<%= theme.parameterize %>">
        <%= radio_button_tag 'theme', theme, @theme == theme, :id => theme.parameterize %>
        <img src="/assets/<%= theme.parameterize %>.svg" /> 
        <span><%= theme.humanize %></span>
      </label>
    <% end %>
  </fieldset>
  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
