<% author = cookies['content-author'] %>
<%= render :partial=>"partials/header" %>
<% if author %>
<ol class="my-boards">
<% @contents.each do |c| %>
	<% if cookies[c.unique_string+'-author'] %>
	<li><%= link_to(c) do %><%= c.name %><% end %></li>
	<% end %>
<% end %>
</ol>
<% else %>
<h1 class="center">Whoops, looks like <span>you haven&rsquo;t created any boards</span> yet.</h1>
<% end %>
<%= link_to 'Create a board <span class="icon-bolt"></span>'.html_safe, new_content_path, :class => 'btn' %>
<h4 class="outro"><a href="http://jefff.co" target="_blank">made with <span class="icon-heart"></span> by jefff</a></h4>
<%= render :partial=>"partials/footer" %>