<div class="body" id="body" style="<% if !@content.background_color.blank? %>background-color: <%= @content.background_color %>;<% end %><% if @content.add_font_family %>font-family: <%= @content.add_font_family %><% end %>">
	<div class="layout <% if @content.layout_type == false %>single<% else %>double<% end %>">
		<small>
			<a href="mailto:?subject=Check this out <%= @content.title %> <%= request.protocol %><%= request.host_with_port %>/contents/share/<%= @content.id %>"><span class="icon-envelope-alt edit"></span></a>
			<a href="<%= new_content_path %>"><span class="icon-plus edit"></span></a>
		</small>
		<header style="<% if !@content.header_background_color.blank? %>background: <%= @content.header_background_color %><% end %>">
			<h2 style="<% if !@content.header_font_color.blank? %>color: <%= @content.header_font_color %><% end %>"><%= @content.name %></h2>
		</header>
		<div class="main cf" id="main" style="<% if !@content.main_background_color.blank? %>background-color: <%= @content.main_background_color %>;<% end %><% if !@content.font_color.blank? %>color: <%= @content.font_color %>;<% end %>">
			<% if !@content.link_color.blank? %>
			<style scoped>
				a {
					color: <%= @content.link_color %>;
				}
			</style>
			<% end %>
			<% if @content.layout_type == false %>
			<% if @content.image_to_main == true %><img src="http://placehold.it/350x150" id="image" /><% end %>
			<% if !@content.content.blank? %><%= @content.content.html_safe %><% end %>
			<hr />
			<% if !@content.secondary_content.blank? %><%= @content.secondary_content.html_safe %><% end %>
			<% else %>
			<% if @content.image_to_main == true %><img src="http://placehold.it/350x150" id="image" class="w" /><% end %>
			<div class="left">
				<% if !@content.content.blank? %><%= @content.content.html_safe %><% end %>
			</div>
			<div class="right">
				<% if !@content.secondary_content.blank? %><%= @content.secondary_content.html_safe %><% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>