<%#= @content.unique_string %>

<div class="body" id="body" style="<% if !@content.background_color.blank? %>background-color: <%= @content.background_color %>;<% end %><% if @content.add_font_family %>font-family: <%= @content.add_font_family %><% end %>">

	<p id="notice" class="notice"><%= notice %></p>

	<div id="layout-type" style="display:none"><% if @content.layout_type == false %>single<% else %>double<% end %></div>

	<div class="layout <% if !@content.layout_type.blank? %><% if @content.layout_type == false %>single<% else %>double<% end %><% else %>single<% end %>">
		<small>
			<span class="icon-cog edit styles" data-part="global"><span data-title="Edit global styles"></span></span>
			<a href="<%= edit_content_path(@content) %>"><span class="icon-pencil edit"><span data-title="Edit content / layout"></span></span></a>
			<a href="mailto:?subject=Check this out <%= @content.title %> <%= request.protocol %><%= request.host_with_port %>/<%= @content.unique_string %>" target="_blank"><span class="icon-envelope-alt edit"><span data-title="Share via email"></span></span></a>
			<a href="<%= request.protocol %><%= request.host_with_port %>/<%= @content.unique_string %>"><span class="icon-share-alt edit"><span data-title="Get sharable link"></span></span></a>
			<a href="<%= new_content_path %>"><span class="icon-plus edit"><span data-title="Create new"></span></span></a>
		</small>
		<header style="<% if !@content.header_background_color.blank? %>background: <%= @content.header_background_color %><% end %>">
			<h2 style="<% if !@content.header_font_color.blank? %>color: <%= @content.header_font_color %><% end %>"><%= @content.name %></h2>
		</header>
		<div class="main cf" id="main" style="<% if !@content.main_background_color.blank? %>background-color: <%= @content.main_background_color %>;<% end %><% if !@content.font_color.blank? %>color: <%= @content.font_color %>;<% end %>">

			<% if @content.body_font_family %>
			<style scoped id="body_copy_inline">
				p, li {
					font-family: <%= @content.body_font_family.html_safe %>;
				}
			</style>
			<% end %>

			<%
			# if choice is made upon creation
			if !@content.layout_type.blank? %>

			<% if @content.layout_type == false %>
			<% if @content.image_to_main == true %><img src="http://placehold.it/350x150" id="image" /><% end %>
			<% if !@content.content.blank? %><%= @content.content.html_safe %><% end %>
			<hr />
			<% if !@content.secondary_content.blank? %><%= @content.secondary_content.html_safe %><% end %>
			<% else %>
			<div class="left">
				<% if !@content.content.blank? %><%= @content.content.html_safe %><% end %>
			</div>
			<div class="right">
				<% if @content.image_to_main == true %><img src="http://placehold.it/350x150" id="image" class="w" /><% end %>
				<% if !@content.secondary_content.blank? %><%= @content.secondary_content.html_safe %><% end %>
			</div>
			<% end %>
			<%
			# if no choice is made upon creation
			else %>
			<% if @content.image_to_main == true %><img src="http://placehold.it/350x150" id="image" /><% end %>
			<% if !@content.content.blank? %><%= @content.content.html_safe %><% end %>
			<hr />
			<% if !@content.secondary_content.blank? %><%= @content.secondary_content.html_safe %><% end %>
			<% end %>
		</div>
		<%#= link_to 'Edit the Content', edit_content_path(@content), :class => 'btn' %>
		<% if !@content.link_color.blank? %>
		<!--<style scoped>
			a {
				color: <%= @content.link_color %>;
			}
		</style>-->
		<script>
			var _a = document.getElementById("main").getElementsByTagName("a");
			for(var _i=0;_i<_a.length;_i++){
				_a[_i].style.color = '<%= @content.link_color %>';
			}
		</script>
		<% end %>
	</div>
	<h5><a href="/">Contentboard</a> app &copy; 2013, built by <a href="http://jefff.co/" target="_blank">jefff</a>.</h5>
</div>
<div class="table inner nope" id="modal">
	<div class="table-cell">
		<div class="options global" id="global">
			<h2>Edit Global Options</h2>
			<p>Use any valid CSS syntax: rgba, hsla or hex; <em><strong>changes are saved on close.</strong></em></p>
			<%= form_for(@content) do |f| %>
				<fieldset>
					<label for="content_title">
						<span>Page Title:</span>
						<!--<input id="content_background_color" name="content[background_color]" value="" type="color" />-->
						<input id="content_title" name="content[title]" value="<%= @content.title %>" type="text" />
					</label>
				</fieldset>
				<fieldset>
					<label for="content_background_color">
						<span>Main Background Color:</span>
						<!--<input id="content_background_color" name="content[background_color]" value="" type="color" />-->
						<input id="content_background_color" name="content[background_color]" value="<%= @content.background_color %>" type="text" />
					</label>
				</fieldset>
				<fieldset>
					<label for="content_header_background_color">
						<span>Header Background Color/Image:</span>
						<input id="content_header_background_color" name="content[header_background_color]" value="<%= @content.header_background_color %>"  type="text" />
					</label>
				</fieldset>
				<fieldset>
					<label for="content_header_font_color">
						<span>Header Font Color:</span>
						<input id="content_header_font_color" name="content[header_font_color]" value="<%= @content.header_font_color %>" type="text" />
					</label>
				</fieldset>
				<fieldset>
					<label for="content_main_background_color">
						<span>Content Background Color:</span>
						<input id="content_main_background_color" name="content[main_background_color]" value="<%= @content.main_background_color %>" type="text" />
					</label>
				</fieldset>
				<fieldset>
					<label for="content_font_color">
						<span>Content Font Color:</span>
						<input id="content_font_color" name="content[font_color]" value="<%= @content.font_color %>" type="text" />
					</label>
				</fieldset>
				<fieldset>
					<label for="content_link_color">
						<span>Link Color:</span>
						<input id="content_link_color" name="content[link_color]" value="<%= @content.link_color %>" type="text" />
					</label>
				</fieldset>
				<fieldset>
					<label for="image_to_main" class="c">
						<span>Add image to main content?</span>
						<input id="image_to_main" name="image_to_main" value="1" type="checkbox" <% if @content.image_to_main == true %>checked<% end %> />
						<input id="content_image_to_main" name="content[image_to_main]" type="hidden" value="<% if @content.image_to_main == true %>1<% else %>0<% end %>" />
					</label>
				</fieldset>
				<fieldset class="t">
					<label for="font-family">
						<span>Header Font Family:</span>
						<select name="font-family" id="font-family">
							<option value="'Inconsolata', sans-serif">Inconsolata</option>
							<option value="'Helvetica Neue', Arial, sans-serif">Helvetica</option>
							<option value="'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif">Arial Rounded</option>
							<option value="'Century Gothic', CenturyGothic, AppleGothic, sans-serif">Century Gothic</option>
							<option value="Futura, 'Trebuchet MS', Arial, sans-serif">Futura</option>
							<option value="'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif">Lucida Grande</option>
							<option value="Verdana, Geneva, sans-serif">Verdana</option>
						</select>
						<input id="content_add_font_family" name="content[add_font_family]" type="hidden" value="<% if @content.add_font_family %><%= @content.add_font_family %><% end %>" />
					</label>
				</fieldset>
				<fieldset>
					<label for="font-family-body">
						<span>Body Font Family:</span>
						<select name="font-family-body" id="font-family-body">
							<option value="'Inconsolata', sans-serif">Inconsolata</option>
							<option value="'Helvetica Neue', Arial, sans-serif">Helvetica</option>
							<option value="'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif">Arial Rounded</option>
							<option value="'Century Gothic', CenturyGothic, AppleGothic, sans-serif">Century Gothic</option>
							<option value="Futura, 'Trebuchet MS', Arial, sans-serif">Futura</option>
							<option value="'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif">Lucida Grande</option>
							<option value="Verdana, Geneva, sans-serif">Verdana</option>
						</select>
						<input id="content_body_font_family" name="content[body_font_family]" type="hidden" value="<% if @content.body_font_family %><%= @content.body_font_family %><% end %>" />
					</label>
				</fieldset>
			<% end %>
			<span class="icon-remove close" id="close"></span>
		</div>
	</div>
</div>